/****************** clients ********************/
.icon-company {
    fill: currentColor;
}

.clients_ul {
    display: flex;
    list-style-type: none;
}

.clients_li {
    margin-right: 30px;
}

.clients_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: $networks;
    border: 1px solid $networks;
    border-radius: 4px;

    &:hover {
        border-color: $background;
        color: $background;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   
}