%button {
    display: block;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.875;
    font-size: 16px;
    box-shadow: 0px 4px 4px $colorboxshadow;
    border-radius: 4px;
    letter-spacing: 0.06em;
    border: 0;
    cursor: pointer;
    color: $colorwhite;
    background: $background;
}

%title {
    font-family: 'Roboto';
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $texcolor;
}


%ul{
    display: flex;
    column-gap: 30px;
    list-style-type: none;
}